<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/otvoreni-bazeni.jpg)"></div>
	<div class="pageFixedTitle">БАЗЕНИ НА ОТВОРЕНОМ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Велики олимпијски базен дубине 2 метра који у потпуности испуњава стандарде светских и европских пливачких федерација и намењен је како рекреативцима тако и организацији домаћих и међународних такмичења.<br>&nbsp;<br>Други базен спада у категорију рекреативних, дубок је 1,20м и опремљен садржајима карактеристичним за аквапаркове. Поседује преливну печурку, три “ластина репа”, хидромасажни зидни гејзир и централни гејзир.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Трећи и најмањи базен намењен је деци. Прилагођена дубина до 20цм и гумирана подлога чине га максимално безбедним за најмлађе посетиоце.<br>&nbsp;<br>Поред уобичајених пратећих садржаја – тушева, свлачионица, на отвореним базенима се налази и кафе-бар, док су простори базена и баште кафе-бара снабдевени сунцобранима и лежаљкама.</div>
						<div>Грађани могу користити отворене базене од јуна до септембра у следећим терминима:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Субота</td>
								<td>Недеља</td>
							</tr>
							<tr>
								<td>10:00 - 19:00</td>
								<td>09:00 - 19:00</td>
								<td>09:00 - 19:00</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">

			  <tr>
			    <td>Дневна карта - одрасли</td>
			    <td>дневно *</td>
			    <td>750,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - одрасли</td>
			    <td>после 16.00 часова *</td>
			    <td>500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - деца од 4 до 10 година</td>
			    <td>дневно *</td>
			    <td>350,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - пензионери</td>
			    <td>дневно *</td>
			    <td>500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - лица са посебним потребама</td>
			    <td>дневно *</td>
			    <td>350,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта</td>
			    <td>дневно *</td>
			    <td>9.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Сезонска карта</td>
			    <td>дневно *</td>
			    <td>15.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Појединачна карта - ноћно купање</td>
			    <td>ноћно купање</td>
			    <td>1.200,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Труднице</td>
			    <td>дневно *</td>
			    <td>Бесплатно</td>
			  </tr>
			  <tr>
			    <td>Деца старости до 4 године</td>
			    <td>дневно *</td>
			    <td>Бесплатно</td>
			  </tr>
			  <tr>
			    <td>Изнајмљивање – један сунцобран</td>
			    <td>дневно</td>
			    <td>500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Изнајмљивање – једна лежаљка</td>
			    <td>дневно</td>
			    <td>500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Изнајмљивање – једна лежаљка испод перголе</td>
			    <td>дневно</td>
			    <td>600,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Изнајмљивање – један сунцобран и једна лежаљка</td>
			    <td>дневно</td>
			    <td>700,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Изнајмљивање – један сунцобран и две лежаљке</td>
			    <td>дневно</td>
			    <td>1.000,00 дин.</td>
			  </tr>
			</table>
		</div>
	</div>



<%- include ("partials/footer") -%>