<%- include ("partials/header") -%>
	<div class="contentWidth">
		<div class="sectionTitle">ДОКУМЕНТИ</div>
		<div class="documents">
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Odluka_o_cenovniku_zakupa_poslovnog_prostora_PD_25.maj-Milan_Gale_Muškatirović_d.o.o..pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о ценовнику закупа пословног простора ПД 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Odluka_o_izmeni_i_dopuni_Odluke_o_osnivanju_PD_25.maj-Milan_Gale_Muškatirović_d.o.o..pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о измени и допуни Одлуке о оснивању ПД 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Odluka_o_osnivanju_PD_25.maj-Milan_Gale_Muškatirović_d.o.o._(_prečišćen_tekst_).pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о оснивању ПД 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Organizaciona_šema.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Организациона шема 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Pravilnik_o_izmenama_i_dopunama_Pravilnika_o_radu.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о изменама и допунама Правилника о раду 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Pravilnik_o_organizaciji_i_sistematizaciji_poslova.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о организацији и систематизацији послова 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Pravilnik_o_radu.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о раду 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>






			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2024-Otvoreni.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Ценовник за отворени базен 2024. 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2023-Otvoreni.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Ценовник за отворени базен 2023. 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2023.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Ценовник 2023. 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://www.25maj.rs/downloads/Cenovnik-2022.pdf','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Ценовник 2022. 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630920378/1-Odluka_o_osnivanju_PD_25.maj-mgm.pdf?1630920378','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о оснивању ПД 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923016/3-Odluka_o_osnivanju_-preciscen_tekst_-PD_25.maj-mgm.pdf?1630923016','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о оснивању ПД 25. мај - Милан Гале Мушкатировић д.о.о. (прећишћен текст)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923014/2-Odluka_Izmene_i_dopune_osnivackog_akta_PD25.maj-mgmg.pdf?1630923014','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука - Измене и допуне оснивачког акта ПД PD 25. мај - Милан Гале Мушкатировић д.о.о.</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923289/1-pravilnik_o_organ.i_sistematizaciji_poslova.pdf?1630923289','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о организацији и систематизацији послова</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923663/3-organizaciona_sema.pdf?1630923663','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Организациона шема</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923281/4-broj_zaposlenih_i_radno_angazovanih.pdf?1630923281','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Број запослених и радно ангажованих</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630923285/5-Pravilnik_o_radu_i_zaradama.pdf?1630923285','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о раду и зарадама</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926332/1-Odluka_usvajanje_godisnjeg_finans.izvestaja.pdf?1630926332','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука - Усвајање годишњег финансијског изевштаја</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926333/2--Bilans_stanja.pdf?1630926333','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Биланс стања</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926335/3--Bilans_uspeha.pdf?1630926335','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Биланс успеха</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926330/4-Odluka_o_raspodeli_dobiti.pdf?1630926330','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука о расподели добити</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926331/5-Potvrda_o_objavljenom_godisnjem_finasij.izvestaju.pdf?1630926331','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Потврда о објављеном годишњем финансијком извештају</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630927253/Pravilnik_o_Javnim_Nabavkama_%28_1_deo_%29.pdf?1630927253','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о јавним набавкама (део 1)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630927255/Pravilnik_o_Javnim_Nabavkama_%28_nastavak_%29.pdf?1630927255','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о јавним набавкама (део 2)</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://assets.nationbuilder.com/starigrad/pages/155/attachments/original/1652435757/Odluka_o_odre%C4%91ivanju_visine_zakupnine_poslovnog_prostora.pdf?1652435757','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Одлука - Ценовник затвореног и отвореног пословног простора</div>
				</div>
			</div>
			<div class="document" onclick="window.open('https://d3n8a8pro7vhmx.cloudfront.net/starigrad/pages/155/attachments/original/1630926725/Pravilnik_o_unutrasnjem_uzbunjivanju.pdf?1630926725','_blank');">
				<div class="documentType" style="background-image:url(/icons/pdficon.png)">
					<div class="text">Правилник о унутрашњем узбуњивању</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>