<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/zatvoreni-bazen2.jpg)"></div>
	<div class="pageFixedTitle">ЗАТВОРЕНИ БАЗЕН</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Дужине 50, ширине 21 и дубине 2,1 метар, са температуром од 26 степени у просеку, и овај базен у целости задовољава олимпијске стандарде. Температура ваздуха у дворани одржава се најсавременијом климатизацијом.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Грађани могу користити затворени базен од септембра до јуна у следећим терминима:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Субота</td>
								<td>Недеља</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td>06:15 - 08:00</td>
								<td></td>
							</tr>
							<tr>
								<td>14:00 - 16:00</td>
								<td>13:00 - 15:00</td>
								<td>13:00 - 15:00</td>
							</tr>
							<tr>
								<td>22:15 - 23:30</td>
								<td>21:00 - 23:00</td>
								<td>21:00 - 23:00</td>
							</tr>
						</table>
						<!--<div style="margin-top:10px">У суботу 4.11. и у недељу 5.11 отказују се дневни термини за грађанство.</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda2.jpg);">
			<div class="smallContent padded" style="padding:50px 0px;">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						<b>ПРИЛИКОМ КОРИШЋЕЊА ЗАТВОРЕНОГ БАЗЕНА ОБАВЕЗНО ЈЕ НОШЕЊЕ ЗАШТИТНЕ КАПИЦЕ ЗА ПЛИВАЊЕ!</b> <br>Корисници који не поседују капице, могу их купити уз дневне карте.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>

			<table class="priceTable">
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – цео базен</td>
			    <td>сваки дан</td>
			    <td>25.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – пола базена</td>
			    <td>сваки дан</td>
			    <td>14.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – четвртина базена</td>
			    <td>сваки дан</td>
			    <td>8.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – осмина базена</td>
			    <td>сваки дан</td>
			    <td>5.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 5 сати коришћења – домаћа такмичења</td>
			    <td>сваки дан</td>
			    <td>140.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 5 сати коришћења – међународна такмичења</td>
			    <td>сваки дан</td>
			    <td>215.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 3 сата коришћења – домаћа такмичења</td>
			    <td>сваки дан</td>
			    <td>90.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 3 сата коришћења – међународна такмичења</td>
			    <td>сваки дан</td>
			    <td>145.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 2 сата коришћења – домаћа такмичења</td>
			    <td>сваки дан</td>
			    <td>62.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – домаћа такмичења</td>
			    <td>сваки дан</td>
			    <td>34.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – међународна такмичења</td>
			    <td>сваки дан</td>
			    <td>55.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена цео дан коришћења – међународна такмичења са публиком</td>
			    <td>сваки дан</td>
			    <td>550.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена цео дан коришћења – домаћа такмичења са публиком</td>
			    <td>сваки дан</td>
			    <td>370.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена 1 сат коришћења – за снимања</td>
			    <td>сваки дан</td>
			    <td>45.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп термина затвореног базена цео дан коришћења – за организацију догађаја са додатним капацитетима</td>
			    <td>сваки дан</td>
			    <td>650.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп хидросаунског блока цео дан коришћења</td>
			    <td>сваки дан</td>
			    <td>200.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Закуп малог базена и платформе 1 сат коришћења</td>
			    <td>сваки дан</td>
			    <td>8.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - одрасли</td>
			    <td>један термин дневно</td>
			    <td>750,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта – одрасли - са капом</td>
			    <td>један термин дневно</td>
			    <td>1.200,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - деца од 4 до 10 година</td>
			    <td>један термин дневно</td>
			    <td>350,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - деца од 4 до 10 година - са капом</td>
			    <td>један термин дневно</td>
			    <td>800,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - пензионери</td>
			    <td>један термин дневно</td>
			    <td>500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - пензионери - са капом</td>
			    <td>један термин дневно</td>
			    <td>950,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - лица са посебним потребама</td>
			    <td>један термин дневно</td>
			    <td>350,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Дневна карта - лица са посебним потребама - са капом</td>
			    <td>један термин дневно</td>
			    <td>800,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – одрасли</td>
			    <td>сваки дан - један термин дневно</td>
			    <td>7.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – одрасли (12 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>5.500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – одрасли (8 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>4.500,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – ђаци и студенти (12 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>4.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – ђаци и студенти (8 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>3.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – лица са посебним потребама (12 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>4.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Месечна карта – лица са посебним потребама (8 термина)</td>
			    <td>рекреативно пливање</td>
			    <td>3.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Сезонска карта – одрасли (од 15.09. до 31.05.)</td>
			    <td>сваки дан - један термин дневно</td>
			    <td>35.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Сезонска карта – ђаци и студенти (од 15.09. до 31.05.)</td>
			    <td>сваки дан - један термин дневно</td>
			    <td>25.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Годишња карта - одрасли</td>
			    <td>сваки дан - један термин дневно</td>
			    <td>45.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Школа пливања – месечна чланарина – 1 дете</td>
			    <td>3 термина недељно</td>
			    <td>7.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Школа пливања – месечна чланарина - 2 и више деце из исте породице</td>
			    <td>3 термина недељно</td>
			    <td>12.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Школа пливања – месечна чланарина – 1 дете</td>
			    <td>2 термина недељно</td>
			    <td>6.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Школа пливања – месечна чланарина - 2 и више деце из исте породице</td>
			    <td>2 термина недељно</td>
			    <td>10.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Издавање потврде - тест пливања</td>
			    <td>по услузи</td>
			    <td>3.000,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Репрограмибилна картица за пролаз</td>
			    <td>по комаду</td>
			    <td>400,00 дин.</td>
			  </tr>
			  <tr>
			    <td>Труднице</td>
			    <td>један термин дневно</td>
			    <td>Бесплатно</td>
			  </tr>
			  <tr>
			    <td>Деца старости до 4 године</td>
			    <td>један термин дневно</td>
			    <td>Бесплатно</td>
			  </tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>